<html>
  
<body>

      <form method='POST' enctype='multipar/form-data'
	  action='restaurants/{{restaurant_id}}/new/'>
	    <h1>Prepare your new dish</h1>
      <strong>Name</strong></br>
      <input name='name' value='{{item.name}}' type='text'></br>
      <strong>Description</strong></br>
      <input name='description' type='text'></br>
      <strong>Course</strong></br>
      <input name='course' type='text'></br>
      <strong>Price</strong></br>
      <input name='price' type='text'></br>
      <input type='submit' value='Submit'></br>
      <a href='/restaurants/{{restaurant_id}}/'>Back</a></br>


</body>

</html>
